.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5.5em;
    background-color: #f5f5f5;
    border-bottom: 2px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}

.search-bar-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 3rem;
    background-color: #f5f5f5;
}

.search-bar a{
    text-decoration: none;
}


.sell-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 3rem;
    background-color: #f5f5f5;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #333;
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
    .search-bar-container{
        width: 80%;
    }
    
}
