@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Lato&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

h4{
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: Left;
  color: #333;
}

.text-dark{
  font-weight: 900;
}