.card{
    width: 18rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    &:hover{
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
    }
    .card-img-top{
        height: 15rem;
        object-fit: contain;
        border-radius: 1rem 1rem 0 0;
    }
    .card-body{
        padding: 1rem;
        .card-title{
            font-size: 1rem;
            font-weight: bold;
        }
        .card-text{
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
    .card-footer{
        padding: 0.5rem;
        background-color: #fff;
        border-top: none;
        border-radius: 0 0 1rem 1rem;
        .btn{
            width: 100%;
            border-radius: 0.5rem;
            font-weight: bold;
            &:hover{
                background-color: #fff;
                color: #000;
            }
        }
    }
}