.footer-container{
    width: 100%;
    height: 20rem;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer-row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-col{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer-container h4{
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: Left;
    color: rgb(104, 104, 104);
}

.footer-container a{
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: Left;
    color: rgb(236, 236, 236);
    text-decoration: none;
}

.footer-container a:hover{
    color: rgb(104, 104, 104);
}