
.banner-container {
    position: relative;
    width: 100%;
    height: 25rem;
    

}

.banner-image {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}


.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

.banner-text {
    margin: 0 left;
    margin-left: 2rem;
    width: 20rem;
    text-align: left;
    font-weight: bolder;

}

.banner-overlay button{
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 10rem;
    height: 3rem;
    background: color #1b1b1b;;
    color: black;
    border: none;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
}