.seller-banner-container img{
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.seller-banner-container button{
    margin: 0 auto;
    width: 10rem;
    height: 3rem;
    background: color #1b1b1b;;
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
}

.seller-banner-container h2{
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 20rem;
    text-align: center;
    font-weight: bolder;
}

.seller-banner-container h5{
    width: 20rem;
    margin-top: 1rem;
    text-align: left;
    font-weight: bolder;
}